<section class="referral-list" ng-controller="ReferralsController" ng-init="find()">
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h3 class="header center dark-blue-text">Current Referral Listing</h3>
      </div>
      <a class="waves-effect waves-light btn" ui-sref="referrals.create" ng-show="authentication.user.roles == 'admin'">
        <i class="material-icons left">add</i><span>Add new referral</span>
      </a>
    </div>
  </div>
</br>
  <div class="collection">
    <a ng-repeat="referral in referrals | filter: displayReferral" ui-sref="referrals.view({referralId: referral._id})" class="collection-item dark-blue-text">
      <p class="list-group-item-text pull-right small bold">
        <span>{{referral.title}}</span>
      </p>
      <p class="list-group-item-text pull-right small">
        <span>Assigned to: {{referral.assigned}}</span>
      </p>
      <p class="list-group-item-text pull-right small">
        <span>Location: {{referral.locate}}</span>
      </p>
      <p class="list-group-item-text pull-right small">
        <span>Date and Time: {{referral.dateVisit}}</span>
      </p>
      <p class="list-group-item-text pull-right small">
        <span>Contact Info: {{referral.contactClient}}</span>
      </p>
    </a>
  </div>
</section>
