<!---make better looking-->


<div class="container">

	<div class="section">

		<h1 class="header center dark-blue-text">About Us</h1>
			
     <p> We are striving for an innovative and proactive home care approach. Our patient’s come first. We want a 100% client satisfaction rate. We believe in being involved at every level within our company. Gulfshore Private Home Care is a LOCALLY OWNED AND OPERATED in-home service registry that refers quality caregivers to provide private home care to individuals and families. We are dedicated to helping our clients lead dignified, independent lifestyles in the comfort and safety of their own homes by carefully assessing and fully understanding their needs and selectively referring trained personnel to meet these needs. </p> 

     <p>Proudly serving Gainesville and the Alachua County area, Extended Healthcare Solutions provides innovative, high-quality, home health care services to homebound individuals, in need of skilled nursing and/or CNA/HHA supportive care, in the comfort of their own homes. Our interdisciplinary team, helmed by the patient’s own physician, establishes goals and desired outcomes, then utilizes the newest, most appropriate methods to return our patients, to their maximum possible state of health.</p>

     <p>Extended Healthcare Solutions is guided by a tradition of personal, clinical and technological excellence. We strive to enhance our patient’s quality of life, preserve their dignity, and meet their health care, social and emotional needs by working with family members, caregivers, health professionals and the community at large. We are dedicated to providing the highest quality of senior home care to patients in the community setting, while demonstrating compassion and respect for each person. Contact us today to learn more about our services.</p>
         	
	</div>
  
</div>





