<section ng-controller="CareersController" data-ng-init="find()">

  	<div class="container">

		<div class="section">

			<h3 class="header center dark-blue-text">Careers</h3>

      <p class = "flow-text"> Extended Health Care Solutions Inc. is a locally owned and managed company that provide Home Health Care services to patients through out north central Florida. We are a rapidly growing, innovative company with a strong emphasis on superior patient care, quality of service, and respect for colleagues and clinicians. Please visit the recently posted positions below for specific employment opportunities.</p>

			<div class="row center">
			    <h5 class="header col s12 light"> <b>Available Positions</b></h5>
			</div>


		</div>

	</div>

<!-- New Search Bar -->
  <div class="col-md-4" style="margin-top: 2em">
    <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
  </div>

<!-- Job List -->
  <div class="row">
    <ul class="jobsList">
      <li class="jobList-item" ng-repeat="job in pagedItems" >
        <div class="collapsible-header deep-purple lighten-5" ng-click="showBody1 === 'false' ? showBody1 = 'true' : showBody1 = 'false'"><i class="material-icons">import_export</i>{{job.title}}</div>
        <div class="card-body collapsible-body blue-grey lighten-5" style="display: block;" ng-show="showBody1 === 'true'"><p><strong>Job Description:</strong> {{job.description}}</p>
          <!-- <p><strong>Creation Date: </strong> {{job.created}}</p> -->
          <p><strong>Responsibilities</strong>: {{job.responsibilities}}</p>
          <p><strong>Job Type</strong>: {{job.contract}}</p>
          <p><strong>Minimum Qualifications</strong>:</p>
          <ul class="jobList-req">
            <li class="jobList-reqItem">{{job.minExp}}</li>
            <li class="jobList-reqItem">{{job.minExp2}}</li>
            <li class="jobList-reqItem">{{job.minExp3}}</li>
            <li class="jobList-reqItem">{{job.minExp4}}</li>
            <li>{{job.minExp5}}</li>
          </ul>
          <p><strong>Prefered Qualifications</strong>:</p>
          <ul class="jobList-req">
            <li class="jobList-reqItem">{{job.prefExp}}</li>
            <li class="jobList-reqItem">{{job.prefExp2}}</li>
            <li class="jobList-reqItem">{{job.prefExp3}}</li>
            <li class="jobList-reqItem">{{job.prefExp4}}</li>
            <li>{{job.prefExp5}}</li>
          </ul>
          <p><strong>Closing Date: </strong> {{job.closing}} </p>
          <a class="btn waves-effect waves-light" ng-click="openCareerApplication();" style = "margin-left: 28px">Apply Now</a>
        </div>
      </li>
    </ul>
  </div>

<!--   Job List  -->
  <!-- <div class="row">
    <ul class="jobsList">
      <li class="jobList-item" ng-repeat="job in pagedItems" >
        <div class="collapsible-header deep-purple lighten-5" ng-click="showBody1 === 'false' ? showBody1 = 'true' : showBody1 = 'false'">
          <p class="right">Closing Date: {{job.closing}}</p>

          <p class="left"><i class="material-icons">import_export</i>{{job.title}}</p>
          <div class="left">
            <p class="left">{{job.contract}}</p>
          </div>
        </div>
        <div class=" collapsible-body blue-grey lighten-5" style="display: block" ng-show="showBody1 === 'true'">
          <p><strong>Job Description</strong>: {{job.description}}</p>
          <p><strong>Responsibilities</strong>: {{job.responsibilities}}</p>
          <p><strong>Job Type</strong>: {{job.contract}}</p>
          <p><strong>Minimum Qualifications</strong>: {{job.minExp}}</p>
          <p><strong>Prefered Qualifications</strong>: {{job.prefExp}}</p>
          <div class="right">
            <a id="contact-us-button" class="btn waves-effect waves-light" ng-click="openCareerApplication();">Apply</a>
          </div>
          <p></p>
        </div>
      </li>
    </ul>
  </div> -->

	<div class="lightbox ng-hide" ng-show="careerApplicationVisible">
		<i class="material-icons close-button" ng-click="closeCareerApplication();">close</i>
	   <div ng-include="'/modules/core/client/views/lightbox/apply.client.view.html'"></div>
	</div>

  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>

</section>
