<section ng-controller="CareersController" data-ng-init="find()">

  	<div class="container">

		<div class="section">

			<h1 class="header center dark-blue-text">Careers</h1>

			<div class="row center">
			    <h5 class="header col s12 light">Available Positions</h5>
			</div>

		</div>

	</div>

<!-- New Search Bar -->
  <div class="col-md-4" style="margin-top: 2em">
    <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
  </div>

<!--   Job List  -->
  <div class="row">
    <ul class="jobsList">
      <li class="jobList-item" ng-repeat="job in pagedItems">
        <div class="collapsible-header" ng-click="showBody1 === 'false' ? showBody1 = 'true' : showBody1 = 'false'"><i class="material-icons">games</i>{{job.title}}</div>
        <div class=" collapsible-body" style="display: block" ng-show="showBody1 === 'true'"><p>Job Description: {{job.content}}</p>
          <p>Creation Date: {{job.created}}</p>
          <a class="btn waves-effect waves-light apply-btn" ng-click="openCareerApplication();">Apply Now</a>
        </div>
      </li>
    </ul>
  </div>

	<div class="lightbox ng-hide" ng-show="careerApplicationVisible">
		<i class="material-icons close-button" ng-click="closeCareerApplication();">close</i>
	   <div ng-include="'/modules/core/client/views/lightbox/apply.client.view.html'"></div>
	</div>

  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>

</section>
