<section ng-controller="CareersController" data-ng-init="find()">

  	<div class="container">

		<div class="section">

			<h1 class="header center orange-text">Careers</h1>

			<div class="row center">
			    <h5 class="header col s12 light">Available Positions</h5>
			</div>

		</div>

	</div>


<!--   Search Bar  -->
<nav>
  <div class="nav-wrapper">
    <form>
      <div class="input-field">
        <input id="search" class="grey" type="search" required>
        <label for "search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav>

<!--   Job List  -->
  <div class="row">
    <ul class="jobsList">
      <li class="jobList-item" data-ng-repeat="job in Jobs">
        <div class="collapsible-header" ng-click="showBody1 === 'false' ? showBody1 = 'true' : showBody1 = 'false'"><i class="material-icons">games</i>{{job.title}}</div>
        <div class=" collapsible-body" style="display: block" ng-show="showBody1 === 'true'"><p>Job Description: {{job.content}}</p>
          <p>Creation Date: {{job.created}}</p>
          <a id="contact-us-button" class="btn waves-effect waves-light blue" ng-click="openCareerApplication();">Apply Now</a>
        </div>
      </li>
    </ul>
  </div>


	<div class="lightbox ng-hide" ng-show="careerApplicationVisible">
		<i class="material-icons close-button" ng-click="closeCareerApplication();">close</i>
	   <div ng-include="'/modules/core/client/views/lightbox/apply.client.view.html'"></div>
	</div>

	<div class="lightbox ng-hide" ng-show="contactFormVisible">
		<i class="material-icons close-button" ng-click="closeContactForm();">close</i>
        <div ng-include="'/modules/core/client/views/lightbox/contact.client.view.html'"></div>
  </div>

</section>
