<section ng-controller="HomeController">

    <div class="container">

        <div class="section">

            <div class="row center">
                <h2 class="header col s12 inner-banner-item dark-blue-text">Extended Health Care Solutions</h2>
                <p><i>Our mission is to keep you safe at home!</i></p>
            </div>

            <div class="slider" ng-init="slideval = 0">

              <ul class="slides" ng-click="slideval = (slideval + 1) % 5">
                <li ng-show="slideval === 0" style="background-image: url('modules/core/client/img/banner.jpg'); background-size: cover;"></li>
                <li ng-show="slideval === 1" style="background-image: url('modules/core/client/img/banner1.jpg'); background-size: cover;"></li>
                <li ng-show="slideval === 2" style="background-image: url('modules/core/client/img/banner2.jpg'); background-size: cover;"></li>
                <li ng-show="slideval === 3" style="background-image: url('modules/core/client/img/banner3.jpg'); background-size: cover;"></li>
                <li ng-show="slideval === 4" style="background-image: url('modules/core/client/img/banner4.jpg'); background-size: cover;"></li>
              </ul>

              <ul class="carousel-indicators">
                <li ng-click="slideval = 0" ng-class="{'active': slideval === 0}"></li>
                <li ng-click="slideval = 1" ng-class="{'active': slideval === 1}"></li>
                <li ng-click="slideval = 2" ng-class="{'active': slideval === 2}"></li>
                <li ng-click="slideval = 3" ng-class="{'active': slideval === 3}"></li>
                <li ng-click="slideval = 4" ng-class="{'active': slideval === 4}"></li>
              </ul>
            </div>

            <!--   Icon Section   -->
            <div class="row after-banner">

                <div class="col s12 m3">

                    <div class="icon-block">

                      <a class="waves-effect waves-light btn" ui-sref = "services">Services</a>

                    </div>

                </div>

                <div class="col s12 m3">

                    <div class="icon-block">

                      <a class="waves-effect waves-light btn" ui-sref = "about">Packages</a>

                    </div>

                </div>

                  <div class="col s12 m3">

                    <div class="icon-block">

                      <a class="waves-effect waves-light btn" ng-model="contact" ui-sref = "contact">Contact</a>

                    </div>

                </div>
            </div>

        </div>

    </div>
</section>
