<div class="container">
	<div class="section">
 		<h1 class="header center dark-blue-text">Packages</h1>
  </div>
</div>

   <!-- Change title color... give page color -->
   <!--L1-->
<div class="row">
  <div class="col s3 m3">
    <div class="card medium">
      <div class="card-image">
        <img src="../modules/core/client/img/sun.jpg" />
        <span class="card-title" style = "color: red">Beautiful Morning</span>
      </div>
      <div class="card-content">
        <p>Prepared breakfast and cleanup, medication reminder, bath and dressing assistance, love and companionship</p>
      </div>
      <div class="card-action">
        <a href="#">Beautiful Morning Package</a> <!--Link this back to contact page -->
      </div>
    </div>
  </div>
  <!--L2-->
  <div class="col s3 m3">
    <div class="card medium">
      <div class="card-image">
        <img src="../modules/core/client/img/sun.jpg" />
        <span class="card-title">Easy Goodnight</span>
      </div>
      <div class="card-content">
        <p>Prepared dinner and cleanup, medication reminder, bath and dressing assistance, love and companionship</p>
      </div>
      <div class="card-action">
        <a href="#">Easy Goodnight Package</a> <!--Link this back to contact page -->
      </div>
    </div>
  </div>
  <div class="col s3 m3">
    <div class="card medium">
      <div class="card-image">
          <img src="../modules/core/client/img/sun.jpg" />
        <span class="card-title">Work Week</span>
      </div>
      <div class="card-content">
        <p>Breakfast, Lunch & Dinner served, Laundry, transportation to and from appointments, medicaiton, daily activities, love and companionship</p>
      </div>
      <div class="card-action">
        <a href="#">Work Week Package</a> <!--Link this back to contact page -->
      </div>
    </div>
  </div>
  <div class="col s3 m3">
    <div class="card medium">
      <div class="card-image">
          <img src="../modules/core/client/img/sun.jpg" />
        <span class="card-title">24/7 Care</span>
      </div>
      <div class="card-content">
        <p>Love and companionship 24 hours a day and 7 days a week! No stone unturned for this customer! </p>
      </div>
      <div class="card-action">
        <a href="#">24/7 Care Package</a> <!--Link this back to contact page -->
      </div>
    </div>
  </div>
</div>





