<!--change pics   --> 
    
 

<div class="container">
	<div class="section">
 		<h1 class="header center dark-blue-text">Packages</h1>
  </div>
</div>

   <!-- Change title color... give page color -->
   <!--L1-->
<div class="row">
  <div class="col s3 m3 center">
    <h5>Beautiful Morning</h5>
    <div class="card medium">
      <div class="card-image">
        <img src="../modules/core/client/img/sun.jpg" />
      </div>
      <div class="card-content left-align">
        <p>Prepared breakfast and cleanup, medication reminder, bath and dressing assistance, love and companionship</p>
      </div>
      <div class="card-action">
        <a class="dark-blue-text" ui-sref="contact">Contact</a>
      </div>
    </div>
  </div>
  <!--L2-->
  <div class="col s3 m3 center">
    <h5>Easy Goodnight</h5>
    <div class="card medium">
      <div class="card-image">
        <img src="../modules/core/client/img/moon.jpg" style="padding: 0 34px;" />
      </div>
      <div class="card-content left-align">
           <p>Prepared dinner and cleanup, medication reminder, bath and dressing assistance, love and companionship</p>
      </div>
      <div class="card-action">
        <a class="dark-blue-text" ui-sref="contact">Contact</a>
      </div>
    </div>
  </div>
  <div class="col s3 m3 center">
    <h5>Work Week</h5>
    <div class="card medium">
      <div class="card-image">
        <img src="../modules/core/client/img/work.jpg" style="padding: 0 34px;"/>
      </div>
      <div class="card-content left-align">
        <p>Breakfast, Lunch & Dinner served, Laundry, transportation to and from appointments, medicaiton, daily activities, love and companionship</p>
      </div>
      <div class="card-action">
        <a class="dark-blue-text" ui-sref="contact">Contact</a>
      </div>
    </div>
  </div>
  <div class="col s3 m3 center">
    <h5>24/7 Care</h5>
    <div class="card medium">
      <div class="card-image">
        <img src="../modules/core/client/img/calendar.gif" />
      </div>
      <div class="card-content left-align">
              <p>Love and companionship 24 hours a day and 7 days a week! No stone unturned for this customer! </p>
      </div>
      <div class="card-action">
        <a class="dark-blue-text" ui-sref="contact">Contact</a>
      </div>
    </div>
  </div>
</div>









