<!---make better looking-->


<div class="container">
  <div class="section">
    <h2 class="header center dark-blue-text">Services</h2>
 <div class="row">
      
      <div class="col s12 m8">
        <div class="card-panel">
        	<h5><center><b> Who Can Benefit From Home Care</b> </center></h5>
        	<p> <i class="material-icons">done</i>
           	Home bound patients who require a taxing effort to leave home for doctors visits </p>
            <p><i class="material-icons">done</i>Patients that require assistance with Medication Management </p>

			<p> <i class="material-icons">done</i>Patients with a history of falls or functional mobility issues </p>

			<p> <i class="material-icons">done</i>Any patient with first or second Diagnosis of CHF, COPD, Diabetes, Coumadin therapy </p> 
         </div>
      </div>

      <div class = "col s12 m4">
        <div class="card-panel"> <!-- move this panel to the right of about card  --> 
          <h5><center><b> Home Health Services</b> </center></h5>
            <P>Medicare certified home health agency and provides skilled nursing, physical and occupational therapy, and home health aides for patients throughout.</p>
          </div>
      </div>
	 </div>
	<div class = "col s12 m2">
        <div class="card-panel"> <!-- move this panel to the right of about card  --> 
          <h5><center><b> Home Infusion Therapy</b> </center></h5>
            <P>Provides intravenous medications and nursing support for patients at home, in skilled nursing facilities, ambulatory infusion suites and physician offices. </p>
			<p>Infusion therapies include PICC and midline placements, IV antibiotics, TPN and enteral nutrition, IVIG, inotropic therapies, chemotherapy, hydration and catheter care. </P>
			<p>EHS Cares for patients throughout North Central Florida through our specialized pharmacy in Lake City Florida.</p>
          </div>
      </div>
	 </div>
      <div class="row">
        <div class="col s12">
          <div class="card dark-blue">
            <div class="card-content white-text">
             <a class="white-text" ui-sref="contact"> <p class = "flow-text"> <center> Contact EHS Today! (352) 555- 5555 </center> </p></a>
            </div>
          </div>
        </div>
      </div>



 

     
          
  </div>
  
</div>





