<div ng-controller = "HomeController" class="row">

    <form class="col s12">

        <div class="row">

            <div class="input-field col s6">

                <input id="name" type="text" class="validate" ng-model="name">
                <label for="name">Name</label>

            </div>

        </div>

        <div class="row">

            <div class="input-field col s12">

                <input id="email" type="email" class="validate" ng-model="email">
                <label for="email">Email</label>

            </div>

        </div>

        <div class="row">

              <div class="input-field col s12">

                  <textarea id="textarea1" class="materialize-textarea" ng-model="message"></textarea>
                  <label for="textarea1">What would you like to know?</label>

              </div>

        </div>

        <a class="btn waves-effect waves-light" type="submit" ng-click="submitContactForm();">Submit</a>
        <a class="waves-effect waves-light btn" ng-click="closeContactForm();">Cancel</a>

    </form>


</div>
