<section class="admin" ng-controller="JobsController">
  <div class="page-header">
    <h1>New Job</h1>
  </div>
  <div class="col-md-12">
    <form name="jobForm" class="form-horizontal" ng-submit="create(jobForm.$valid)" novalidate>
      <fieldset class="job-create">
        <div class="form-group" show-errors>
          <label for="title">Job Title</label>
          <input name="title" type="text" ng-model="job.title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="jobForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Job title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Job Description</label>
          <textarea name="description" ng-model="job.description" id="description" class="form-control" cols="30" rows="10" placeholder="description"></textarea>
        </div>
        <div class="form-group">
          <label for="contract">Full Time/Part Time</label>
          <input name="contract" ng-model="job.full" id="contract" class="form-control" type="radio" value="Full Time" required />Full Time
          <input name="contract" ng-model="job.part" id="contract" class="form-control" type="radio" value="Part Time" required />Part Time
        </div>
        <div class="form-group">
          <label for="closing">Closing date</label>
          <textarea name="closing" ng-model="job.closing" id="closing" class="form-control" cols="30" rows="10" placeholder="End date"></textarea>
        </div>
        <div class="form-group">
          <label for="minExp1">Minimum Experience 1</label>
          <textarea name="minExp1" ng-model="job.minExp1" id="minExp1" class="form-control" cols="30" rows="10" placeholder="What are the minimum qualifications for this position?"></textarea>
        </div>
        <div class="form-group">
          <label for="minExp2">Minimum Experience 2</label>
          <textarea name="minExp2" ng-model="minExp2" id="minExp2" class="form-control" cols="30" rows="10" placeholder="What are the minimum qualifications for this position?"></textarea>
        </div>
        <div class="form-group">
          <label for="minExp3">Minimum Experience 3</label>
          <textarea name="minExp3" ng-model="minExp3" id="minExp3" class="form-control" cols="30" rows="10" placeholder="What are the minimum qualifications for this position?"></textarea>
        </div>
        <div class="form-group">
          <label for="minExp4">Minimum Experience 4</label>
          <textarea name="minExp4" ng-model="minExp4" id="minExp4" class="form-control" cols="30" rows="10" placeholder="What are the minimum qualifications for this position?"></textarea>
        </div>
        <div class="form-group">
          <label for="minExp5">Minimum Experience 5</label>
          <textarea name="minExp5" ng-model="minExp5" id="minExp5" class="form-control" cols="30" rows="10" placeholder="What are the minimum qualifications for this position?"></textarea>
        </div>
        <div class="form-group">
          <label for="prefExp1">Preferred Experience 1</label>
          <textarea name="prefExp1" ng-model="job.prefExp1" id="prefExp1" class="form-control" cols="30" rows="10" placeholder="What are the preferred qualifications for this position?"></textarea>
        </div>
        <div class="form-group">
          <label for="prefExp2">Preferred Experience 2</label>
          <textarea name="prefExp2" ng-model="prefExp2" id="prefExp2" class="form-control" cols="30" rows="10" placeholder="What are the preferred qualifications for this position?"></textarea>
        </div>
        <div class="form-group">
          <label for="prefExp3">Preferred Experience 3</label>
          <textarea name="prefExp3" ng-model="prefExp3" id="prefExp3" class="form-control" cols="30" rows="10" placeholder="What are the preferred qualifications for this position?"></textarea>
        </div>
        <div class="form-group">
          <label for="prefExp4">Preferred Experience 4</label>
          <textarea name="prefExp4" ng-model="prefExp4" id="prefExp4" class="form-control" cols="30" rows="10" placeholder="What are the preferred qualifications for this position?"></textarea>
        </div>
        <div class="form-group">
          <label for="prefExp5">Preferred Experience 5</label>
          <textarea name="prefExp5" ng-model="prefExp5" id="prefExp5" class="form-control" cols="30" rows="10" placeholder="What are the preferred qualifications for this position?"></textarea>
        </div>
        <div class="form-group">
          <label for="responsibilities">Job responsibilities</label>
          <textarea name="responsibilities" ng-model="job.responsibilities" id="responsibilities" class="form-control" cols="30" rows="10" placeholder="What are the job responsibilities of this position?"></textarea>
        </div>
        <div class="form-group">
          <label for="salary">Salary</label>
          <textarea name="salary" ng-model="job.salary" id="salary" class="form-control" cols="30" rows="10" placeholder="Salary of this position?"></textarea>
        </div>
        <div class="form-group">
          <input ng-model="submitNewJob" type="submit" class="btn btn-default">
          <a class="btn btn-default" ui-sref="jobs.list">Cancel</a>
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
