<section ng-controller="JobsController" ng-init="findOne()">
  <div class="page-header">
    <h1>Edit Job</h1>
  </div>
  <div class="col-md-12">
    <form name="jobForm" class="form-horizontal" ng-submit="update(jobForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="title">Title</label>
          <input name="title" type="text" ng-model="job.title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="jobForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Job title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Job Description</label>
          <textarea name="description" ng-model="job.description" id="description" class="form-control" cols="30" rows="10" placeholder="description"></textarea>
        </div>
        <div class="form-group">
          <label for="contract">Full Time/Part Time</label>
          <textarea name="contract" ng-model="job.contract" id="contract" class="form-control" cols="30" rows="10" placeholder="Full time or Part time"></textarea>
        </div>
        <div class="form-group">
          <label for="closing">Closing date</label>
          <textarea name="closing" ng-model="job.closing" id="closing" class="form-control" cols="30" rows="10" placeholder="End date"></textarea>
        </div>
        <div class="form-group">
          <label for="minExp">Minimum Experience</label>
          <textarea name="minExp" ng-model="job.minExp" id="minExp" class="form-control" cols="30" rows="10" placeholder="What are the minimum qualifications for this position?"></textarea>
        </div>
        <div class="form-group">
          <label for="prefExp">Preferred Experience</label>
          <textarea name="prefExp" ng-model="job.prefExp" id="prefExp" class="form-control" cols="30" rows="10" placeholder="What are the preferred qualifications for this position?"></textarea>
        </div>
        <div class="form-group">
          <label for="responsibilities">Job Responsibilities</label>
          <textarea name="responsibilities" ng-model="job.responsibilities" id="responsibilities" class="form-control" cols="30" rows="10" placeholder="What are the job responsibilities of this position?"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
          <a class="btn btn-default" ui-sref="jobs.list">Cancel</a>
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
