<section ng-controller="ReferralsController" ng-init="findOne()">
  <div class="page-header">
    <h1>Edit Job</h1>
  </div>
  <div class="col-md-12">
    <form name="referralForm" class="form-horizontal" ng-submit="update(referralForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="title">Patient's name</label>
          <input name="title" type="text" ng-model="referral.title" id="title" class="form-control" placeholder="Patient's name" required>
          <div ng-messages="referralForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Patient's name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="assigned">Assigned to:</label>
          <textarea name="assigned" ng-model="referral.assigned" id="assigned" class="form-control" cols="30" rows="10" placeholder="User Name"></textarea>
        </div>
        <div class="form-group">
          <label for="locate">Location:</label>
          <textarea name="locate" ng-model="referral.locate" id="locate" class="form-control" cols="30" rows="10" placeholder="Address of patient"></textarea>
        </div>
        <div class="form-group">
          <label for="dateVisit">Date and time of appointment:</label>
          <textarea name="dateVisit" ng-model="referral.dateVisit" id="dateVisit" class="form-control" cols="30" rows="10" placeholder="Date and time of appointment"></textarea>
        </div>
        <div class="form-group">
          <label for="contactClient">Patient's contact information:</label>
          <textarea name="contactClient" ng-model="referral.contactClient" id="contactClient" class="form-control" cols="30" rows="10" placeholder="Contact information of patient"></textarea>
        </div>
        <div class="form-group">
          <label for="description">Background of client:</label>
          <textarea name="description" ng-model="referral.description" id="description" class="form-control" cols="30" rows="10" placeholder="Description or background of patient"></textarea>
        </div>
        <div class="form-group">
          <label for="history">History of patient:</label>
          <textarea name="history" ng-model="referral.history" id="history" class="form-control" cols="30" rows="10" placeholder="Patient's history with us"></textarea>
        </div>
        <div class="form-group">
          <label for="comments">Assigned to:</label>
          <textarea name="comments" ng-model="referral.comments" id="comments" class="form-control" cols="30" rows="10" placeholder="This space reserved for employees to make comments on the appointment"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
          <a class="btn btn-default" ui-sref="referrals.list">Cancel</a>
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
