<section class="admin" ng-controller="JobsController" ng-init="find()">
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h3 class="header center dark-blue-text">Current Job Listings</h3>
      </div>
      <a class="waves-effect waves-light btn" ng-model="addJob" ui-sref="jobs.create" ng-if="user._id !== authentication.user._id">
        <i class="material-icons left">add</i><span>Add new job</span>
      </a>
    </div>
  </div>
</br>
  <div class="collection">
    <a ng-repeat="job in jobs" ui-sref="jobs.view({jobId: job._id})" class="collection-item dark-blue-text">
      <p class="list-group-item-text pull-right small bold">
        <span>{{job.title}}</span>
      </p>
      <p class="list-group-item-text pull-right small">
        <span>Description: {{job.description}}</span>
      </p>
      <p class="list-group-item-text pull-right small">
        <span>Contract: {{job.contract}}</span>
      </p>
      <p class="list-group-item-text pull-right small">
        <span>Closes: {{job.closing}}</span>
      </p>
    </a>
  </div>
</section>
