<section ng-controller="JobAppsController" ng-init="find()">
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Current Applications</h1>
      </div>
    </div>
  </div>
</br>
  <div class="collection">
    <a ng-repeat="jobApp in jobApps" ui-sref="jobApps.view({jobAppId: jobApp._id})" class="collection-item dark-blue-text">
      <p class="list-group-item-text pull-right small bold">
        <span><b>Name:</b></br> {{jobApp.first_name}} {{jobApp.last_name}}</span>
      </p>
      <p class="list-group-item-text pull-right small bold">
        <span><b>E-Mail:</b></br> {{jobApp.email}}</span>
      </p>
      <p class="list-group-item-text pull-right small">
        <span><b>Phone number:</b> {{jobApp.phone}}</span>
      </p>
      <p class="list-group-item-text pull-right small">
        <span>Address: {{jobApp.street_address}} {{jobApp.apt_number}} <br> {{jobApp.city}} {{jobApp.state}} {{jobApp.zip_code}}</span>
      </p>
      <p class="list-group-item-text pull-right small">
        <span>Contract: </span>
      </p>
      <p class="list-group-item-text pull-right small">
        <span>Message: {{jobApp.textarea1}}</span>
      </p>
      </a>
    </a>
  </div>
</section>
