<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Users</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
</br>
  <div class="collection">
    <a ng-repeat="user in pagedItems" ui-sref="admin.user({userId: user._id})" class="collection-item dark-blue-text">
      <p class="list-group-item-text pull-right small bold">
        <span>{{user.firstName}} {{user.lastName}} ({{user.username}})</span>
      </p>
      <p class="list-group-item-text pull-right small">
        <span>Role: {{user.roles}}</span>
      </p>
      <p class="list-group-item-text">
        <span>E-mail: {{user.email}}</span>
      </p>
      <p class="list-group-item-text">
        <span>Address: {{user.address}}</span>
      </p>
      <p class="list-group-item-text">
        <span>Phone Number: {{user.phone}}</span>
      </p>
    </a>
  </div>

  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</section>
