<section ng-controller="JobAppsController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="jobApp.name"></h1>
  </div>
  <div class="pull-right">
    <a class="waves-effect waves-light btn" ng-click="remove();">
      <i class="material-icons left">delete</i><span>Delete</span>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Submitted on
      <span ng-bind="jobApp.created | date:'mediumDate'"></span>
    </em>
  </small>
  <p class="list-group-item-text pull-right small bold">
    <span>Status: {{jobApp.status}}</span>
  </p>
  <p class="list-group-item-text pull-right small">
    <span><b>JobApp E-mail:</b> </br> <a href="mailto:{{jobApp.email}}">{{jobApp.email}}</a></span>
  </p>
  <p class="list-group-item-text pull-right small">
    <span><b>Message:</b> </br> {{jobApp.message}}</span>
  </p>
</br>
  <a class="btn btn-primary" ui-sref="jobApps.list">Done</a>
</section>
