<section ng-controller="ReferralsController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="referral.title"></h1>
  </div>
  <div class="pull-right">
    <a class="btn waves-effect waves-light" ng-show="getHighestRole() == 'admin';" ui-sref="referrals.edit({referralId: referral._id})">
      <i class="material-icons left">edit</i><span>Edit</span>
    </a>
    <a class="waves-effect waves-light btn" ng-show="getHighestRole() == 'admin';" ng-click="remove();">
      <i class="material-icons left">delete</i><span>Remove</span>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="referral.created | date:'mediumDate'"></span>
      by
      <span ng-bind="referral.user.displayName"></span>
    </em>
  </small>
  <p class="list-group-item-text pull-right small">
    <span><b>Assigned to:</b> </br> {{referral.assigned}}</span>
  </p>
  <p class="list-group-item-text pull-right small">
    <span><b>Location:</b> </br> {{referral.locate}}</span>
  </p>
  <p class="list-group-item-text pull-right small">
    <span><b>Date and Time of Appointment:</b> </br> {{referral.dateVisit}}</span>
  </p>
  <p class="list-group-item-text pull-right small">
    <span><b>Patient Contact Info:</b> </br> {{referral.contactClient}}</span>
  </p>
  <p class="list-group-item-text pull-right small">
    <span><b>Description/Background of Patient:</b> </br> {{referral.description}}</span>
  </p>
  <p class="list-group-item-text pull-right small">
    <span><b>History of Patient:</b> </br> {{referral.history}}</span>
  </p>
  <p class="list-group-item-text pull-right small">
    <span><b>Comments:</b> </br> {{referral.comments}}</span>
  </p>
</br>
  <a class="btn btn-primary" ui-sref="referrals.list">Done</a>
</section>
