.after-banner {
  top:450px;
  position:relative;
}

.banner {
  width: 70%;
  left: 15%;
  position: absolute;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  height: 400px;
}

.inner-banner-item {
    top: 130px;
    position: relative;
}

.slider .slides li {
  opacity: 1.0 !important;
}

.slider {
  width: 70%;
  left: 15%;
  position: absolute;
  height: 400px;
}

.carousel-indicators {
  width: 200px;
  margin: auto;
}

.carousel-indicators li {
  height: 20px;
  width: 20px;
  margin: 10px;
  border-radius: 20px;
  border: 2px solid gray;
  float: left;
  cursor: pointer;
}

.carousel-indicators li.active {
  background-color: gray;
}

#leftArrowBox {
  left: 10px;
}

#rightArrowBox {
  right: 10px;
}

.imgArrowBox {
  cursor: pointer;
  height: 20px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  z-index: 2;
}
