.lightbox {
    position: fixed;
    max-height: 90%;
    top: 5%;
    left: 10%;
    right: 10%;
    padding: 10px;
    background-color: white;
    border: 2px solid #ffda5f;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: auto;
}

.button-footer {
    float: right;
    margin-right: 10px;
}

.job-title {
    text-align: center;
}

.lightbox.sign-in {
    top:auto;
    left:auto;
    right: 0;
}

.lightbox .row:first-child {
    padding-top: 24px;
}
